.weather {
    background-color: #fff9;
    padding: 1.5em 1.5em 1.5em;
    border-radius: 1em;
    margin-bottom: 0.2em;
    max-width: 340px;
    width: 100%;
}

.weather__title {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 500;
}

.weather__subtitle {
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;
}

.weather__body {
    display: grid;
    grid-template-columns: 4fr 5fr;
    align-items: center;
    margin-bottom: 1em;
}

.weather__info__title {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 0.8em;
}

.weather__list {
    display: grid;
    gap: 0.8em;
}

.weather__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.weather_label {
    font-size: 0.8rem;
    font-weight: 200;
}

.weather__value {
    font-size: 0.8rem;
}

.weather__footer {
    display: grid;
    justify-content: center;
    gap: 1em;
}

.weather__temp {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.weather__btn {
    border: none;
    padding: 0.5em 2em;
    border-radius: 1em;
    background-color: #00FFFF;
    color: black;
    font-size: 0.8rem;
    transition: transform 100ms ease;
}

.weather__btn:hover {
    filter: brightness(1.5);
    transform: scale(1.2);
}

.weather__loading {
  
    min-height: 8vh;

    font-size: 50px;
    background: linear-gradient(#00FFFF, #FF00FF);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    animation: text 3s linear infinite;
}

@keyframes text {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}